
build/

\.~lock\.README\.md#

data/poker_card_task/

data/hats/

data/1D_patterns/

\.DS_Store

utilities/python/potentialLog\.bin

utilities/python/spikeLog\.bin

utilities/python/rcNetwork\.json

*.pyc

xbuild/basic_test_autogen/

xbuild/
